#idDiv1 {
    background-color: red;
    height: 100px;
    width: 50%;
}
#idDiv2 {
    background-color: blue;
    height: 100px;
    width: 50%;
}
#idDiv3 {
    background-color: yellow;
    height: 100px;
    width: 50%;
} 