@import '../Comun/variables/variables.scss';

.header {
  background-color: $color-menu;  // Utiliza la variable correctamente
  color: #fff;
  padding: 1rem 0;

  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .nav ul {
      list-style: none;
      display: flex;
      gap: 1rem;
      margin: 0;
      padding: 0;

      li a {
        text-decoration: none;
        color: #fff;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }

      /* Estilo especial para el enlace con la clase "oculto" */
      li a.oculto {
        color: $color-menu;
        font-style: $fuente;
      }
    }
  }

  // Media queries para hacer el diseño responsive
  @media (max-width: 1024px) { // Pantallas de tabletas
    .container {
      width: 95%;
      flex-direction: column;
      align-items: flex-start;
    }

    .nav ul {
      flex-direction: column;
      gap: 0.5rem;
    }

    .logo {
      font-size: 1.2rem;
    }
  }

  @media (max-width: 768px) { // Pantallas de móviles
    .container {
      width: 100%;
      padding: 0 1rem;
    }

    .logo {
      font-size: 1.1rem;
    }

    .nav ul {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.8rem;
      width: 100%;
    }

    .nav ul li {
      text-align: left;
    }
  }

  @media (max-width: 480px) { // Móviles muy pequeños
    .logo {
      font-size: 1rem;
    }

    .nav ul {
      gap: 0.5rem;
    }
  }
}