@import 'partials/menu/menu.scss';
@import 'partials/medio/medio.scss';
@import 'partials/footer/footer.scss';

/*
$enLinea: inline-block;
$cero: 0;
$logo: url('../img/pokeball.png');


Título y precio modo texto
imagen
enlace (al pulsar te lleva a algo)
*/