div {
    border: solid 1px;
}

#contenedor1, #contenedor2 {
    width: 48%;
}

#c1, #c2, #c3, #c4 {
    width: 48%;
    height: 100px;
}

#contenedor1, #c3, #c2{
    float: left;
}

#contenedor2, #c1, #c4{
    float: right;
}