body {
    width: 80%;
    margin: auto;
}

div {
    border: solid 1px;
}

#menu {
    width: 100%;
    height: 40px;
    padding: 5px;
    overflow: hidden;
    position: sticky;
    text-align: center;
    top: 0;
}

#menuIzquierdo, #menuCentro, #menuDerecho {
    width: 30%;
    height: 30px;
    text-align: center;
    display: inline-block;
}

#menuIzquierdo:hover{
    background-color: blue;
}

#menuCentro:hover{
    background-color: yellow;
}

#menuDerecho:hover{
    background-color: red;
}

#panelCentral {
    margin-top: 20px;
    height: 50%;
}

#panelImagenes {
    width: 25%;
    padding: 10px;
    float: left;
}

#panelArriba, #panelAbajo {
    margin-bottom: 10px;
}

#panelArribaIzquierda, #panelArribaDerecha, #panelAbajoIzquierda, #panelAbajoDerecha {
    width: 48%;
    height: 100px;
    display: inline-block;
    vertical-align: top;
}

#panelArribaIzquierda {
    background-image: url(../img/DIW_MonaLisa.jpeg);
}

#panelAbajoIzquierda {
    background-image: url(../img/LasMeninasVelazquez.jpeg);
}

#panelArribaDerecha {
    background-image: url(../img/NocheEstrellada.jpeg);
}

#panelAbajoDerecha {
    background-image: url(../img/SolNacienteMonet.jpeg);
}

#panelArribaDerecha,
#panelAbajoDerecha {
    margin-right: 0;
}

#divTexto {
    width: 70%;
    height: 250px;
    padding: 10px;
    margin-left: 20px;
    float: right;
}

#final {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}

.finalDiv {
    padding: 10px;
}

.finalTitulo {
    height: 100px;
    margin-bottom: 10px;
}

#finalTexto1, #finalTexto2 {
    height: 500px;
}

h1 {
    text-align: center;
}

#finalTexto1 {
    background-image: url(../img/Futbol.jpeg);
}